@font-face {
    font-family: 'Another Tag';
    src: url(../fonts/aAnotherTag.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Gameshow';
    src: url(../fonts/Gameshow.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Made Tommy';
    src: url(../fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf) format('opentype');
  }

@font-face {
    font-family: 'Secret';
    src: url(../fonts/SECRETODEMOREGULAR.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --offBlack: #161a1c;
    --offWhite: #f2f2f2;
    --blue: #0064cf;
    --purple: #5d4ad8;
    --orange: #ff8554;
    --pink: #f5c3c6;
    --black: #000;
    --white: #fff;
}

/*CABEÇALHO*/

.header {
    background-color: #161a1c;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    height: 50px;
    width: 100vw;

    /*fixar o header*/
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.headerLogo {
    height: 30px;
}

.headerNav {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.navIcon {
    color: var(--offWhite);
    text-decoration: none;
    font-family: 'Gameshow', sans-serif;
    font-size: 30px;
}

.headerNav a:hover {
    color: #000;
    background-color: rgb(255, 255, 255);
    transition: 0.7s;
    transform: scale(1.1);
}

.darkIcon {
    width: 32px;
    filter: invert(1);
}


/*SECTION PURPLE*/
.sectionTop {
    display: flex;
    align-items: center;


    background: linear-gradient(-45deg, #5d4ad8, #4738a6, #261e59, #3D3959); /* #413499, #5241BF, #4d3db4, #4e287a*/
	background-size: 400% 400%;
	animation: gradientPerfil 15s ease infinite;
}


/*ANIMAÇÕES*/
@keyframes gradientPerfil {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/*BACKGROUND


*/