   
/*SECTION SOBRE*/
.sectionSobre {
    background-color: var(--offWhite);    
}

.sectionSobre p {
    color: var(--offBlack);
    padding: 5px;
    text-align: justify;
    font-size: 15px;
    letter-spacing: 2px;


    display: block;
    margin: auto;
    width: clamp(250px, 82vw, 500px );
}

.sobreImg {
    display: block;
    margin: auto;
    width: clamp(200px, 80vw, 500px );
}
