@charset "UTF-8";


@media screen and (max-width: 668px){
    /*CABEÇALHO*/
    
    .bg-roxo {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    }
    
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 80px;
    }

    .rodape > h1 {
    max-width: 280px;
    }

    div#contatos {
        display: grid;
        grid-template-columns: repeat(auto-fit, 200px);
        gap: 30px;
        justify-content: center;
        transform: translateY(100px);
    }
}

/*TELAS MÉDIAS
669px a 1024px
*/
@media screen and (min-width: 669px)  and (max-width: 1024px){
    /*CABEÇALHO*/


    /*PARTE ROXA*/
    .bg-roxo {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 100px 0px  80px 0px;
    }

    .imagem-perfil {
        width: 50%;
    }

    .texto-apresent {
        width: 50%;
    }

    div.texto-apresent > h1 {
        font-size: 100px;
    }

    #transi {
        display: none;
    }

    /*PARTE BRANCA*/

    div.corpo {
        max-width: 600px;
    }

    div.corpo > h2 {
        font-size: 80px;
    }

    div.corpo > p {
        padding: 20px 15px 10px 15px;
    }

    div.corpo > blockquote {
        max-width: 230px;
    }

    section {
        display: grid;
        grid-template-columns: repeat(auto-fit, 200px);
        grid-template-rows: 250px;
        gap: 60px;
        justify-content: center;
    }

    /*PARTE PRETA*/

    .rodape > h1 {
        rotate: 0deg;
        font-size: 100px;
        width: 90%;
    }

    div#contatos {
        padding: 80px 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 200px);
        gap: 50px;
        justify-content: center;
    }
}

/*TELAS GRANDES*/
@media screen and (min-width: 1025px) {
    /*CABEÇALHO*/

        /*PARTE ROXA*/
        .bg-roxo {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            padding: 100px 0px  0px 0px;
        }
    
        .imagem-perfil {
            width: 50%;
        }
    
        .texto-apresent {
            width: 50%;
        }
    
        div.texto-apresent > h1 {
            font-size: 100px;
        }
    
        #transi {
            display: none;
        }
    
        /*PARTE BRANCA*/
    
        div.corpo {
            max-width: 1000px;
            padding: 30px;
        }
    
        div.corpo > h2 {
            font-size: 120px;
            padding-top: 80px;
        }
    
        div.corpo > p {
            padding: 20px 15px 10px 15px;
        }
    
        div.corpo > blockquote {
            max-width: 230px;
        }
    
        section {
            display: grid;
            grid-template-columns: repeat(auto-fit, 200px);
            grid-template-rows: 250px;
            gap: 60px;
            justify-content: center;
        }
    
        #provisoria {
            height: 300px;
        }

        /*PARTE PRETA*/
        .rodape > h1 {
            rotate: 0deg;
            font-size: 150px;
            width: 90%;
        }
    
        div#contatos {
            padding: 90px 30px 0px 30px;
            display: grid;
            grid-template-columns: repeat(auto-fit, 200px);
            gap: 50px;
            justify-content: center;
        }

        
}