/*MOBILE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  background-color: var(--laranja);
}

:root {
  --preto-dff: #161A1D;
  --roxo: #5D4ADA;
  --azul: #0064CE;
  --branco-dff: #F2F2F2;
  --laranja: #FE9554;
  --rosa: #F5C3C6;
}


/*PARTE ROXA - TEXTO + PERFIL*/
div.bg-roxo {
  background-image: linear-gradient(
    180deg,
    var(--roxo) 90%,
    var(--branco-dff)
  );

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
} 

div.texto-apresent > p {
  max-width: 500px;
  padding: 30px;
  text-indent: 20px;
  font-size: 1.2em;
  padding-bottom: 150px;


  display: block;
  margin: auto;
  color: var(--branco-dff);
  text-align: justify;
}

div.texto-apresent > h1 {
  color: var(--branco-dff);
  text-align: center;
  font-variant:small-caps;
  padding-top: 10px;
}

div.imagem-perfil > img {
  width: 100%;
}

 

/*PARTE BRANCA E LARANJA*/

main {
  background-image: linear-gradient(to bottom, var(--branco-dff) 30%, var(--laranja));
  background-size: 100%;
  padding-top: 150px;
}

div.corpo {
  background-color:#FFF;
  max-width: 68vw;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;

  transform: translateY(100px);
}

div.perfil-preto > img{
  width: 100%;
}

div.corpo > h2 {
  padding: 15px;
  text-align: center;
}

div.corpo > p {
  text-align: justify;
  line-height: 25px;
  text-indent: 20px;
  padding-bottom: 100px;
}

.rodape {
  height:500px;
  width: 100%;
  background-color: var(--preto-dff);
  z-index: 1;

  clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%); /*efeito poligono*/
}

/*PARTE PRETA - RODAPÉ*/
