@charset "UTF-8";

@font-face {
  font-family: 'Another Tag';
  src: url(../fonts/aAnotherTag.ttf) format('truetype');
}

@font-face {
  font-family: 'Gameshow';
  src: url(../fonts/Gameshow.ttf) format('truetype');
}

@font-face {
  font-family: 'Made Tommy';
  src: url(../fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}

/*MOBILE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: var(--laranja);
}

h1, h2, h3 {
  font-family: var(--titulos);
  text-decoration: none;
  font-weight: normal;
}

p {
  font-family: var(--textos);
  font-weight: 400;
}

:root {
  --preto-dff: #161A1D;
  --roxo: #5D4ADA;
  --azul: #0064CE;
  --branco-dff: #F2F2F2;
  --laranja: #FE9554;
  --rosa: #F5C3C6;

  --titulos: 'Gameshow';
  --textos: 'Made Tommy';
  --estilizada: 'Another Tag'
}


/*CABECALHO*/


/*PARTE ROXA - TEXTO + PERFIL*/
div.bg-roxo {
  background-image: linear-gradient(
    180deg,
    var(--roxo) 90%,
    var(--branco-dff)
  );

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
} 

div.texto-apresent > p {
  max-width: 500px;
  padding: 30px;
  text-indent: 20px;
  font-size: 1.2em;
  padding-bottom: 150px;


  display: block;
  margin: auto;
  color: var(--branco-dff);
  text-align: justify;
}

div.texto-apresent > h1 {
  color: var(--branco-dff);
  text-align: center;
  padding-top: 10px;
  font-size: 100px;
}

div.imagem-perfil > img {
  width: 100%;
}

 

/*PARTE BRANCA E LARANJA*/

main {
  background-image: linear-gradient(to bottom, var(--branco-dff) 30%, var(--laranja));
  background-size: 100%;
  padding-top: 150px;
}

div.corpo {
  background-color:#FFF;
  max-width: 68vw;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 300px;
  z-index: 0;

  transform: translateY(5%);
}

div.perfil-preto > img{
  width: 100%;
}

div.corpo > h2 {
  padding: 15px;
  text-align: center;
  font-size: 100px;
}

div.corpo > p {
  text-align: justify;
  line-height: 25px;
  text-indent: 20px;
  padding-bottom: 80px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

/*Animação FLIP*/
.skill {
  position: relative;
  width: 200px;
  height: 300px;
}

.skill:hover .flip {
  transform: rotateY(180deg);
}

.flip {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;

  transform-style: preserve-3d;
  transition: .8s;
}

.frente, .tras {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: solid 2px black;
  box-shadow: 4px 4px 1px black;
  backface-visibility: hidden;
}

.frente {
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;

  text-align: center;
  font-size: 25px;
  font-variant: small-caps;
  font-family: 'Courier New', Courier, monospace;
}

#html-frente {
  background-image: url(../midias/logo-html.png);
}

#css-frente {
  background-image: url(../midias/logo-css.png);
}

#js-frente {
  background-image: url(../midias/logo-js.png);
}

.tras {
  transform: rotateY(180deg);
}

/*PARTE PRETA*/

.rodape {
  height:500px;
  width: 100%;
  background-color: var(--preto-dff);
  z-index: 0;

  clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%); /*efeito poligono*/
}


