/*MOBILE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  background-color: rgb(233, 233, 233);
}

:root {
  --preto-dff: #161A1D;
  --roxo: #5D4ADA;
  --azul: #0064CE;
  --branco-dff: #F2F2F2;
  --laranja: #FE9554;
  --rosa: #F5C3C6;
}

/*PARTE ROXA - TEXTO + PERFIL*/
div.bg-roxo {
  background-image: linear-gradient(
    180deg,
    var(--roxo) 70%,
    transparent
  );

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
} 

div.texto-apresent > p {
  max-width: 500px;
  padding: 30px;
  text-indent: 20px;
  font-size: 1.2em;


  display: block;
  margin: auto;
  color: var(--branco-dff);
  text-align: justify;
}

div.texto-apresent > h1 {
  color: var(--branco-dff);
  text-align: center;
  font-variant:small-caps;
  padding-top: 150px;
}

div.imagem-perfil > img {
  width: 100%;
}

 

/*PARTE BRANCA E LARANJA*/
div#corpo {
  height: 100vh;
}

section#corpo-conteudo {
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, 0%);

  width: 400px;

  padding: 0px 20px 0px 20px;
  background-color: #fff;
}

.bg-branco {
  height: 70vh;
}

.bg-halftone {

  height: 70vh;
  background-image: url(../midias/halftone.png);
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: 600px;
  
}
.bg-laranja {
  height: 50vh;
  background-color: #ff9554;
}
