@media screen and (max-width: 800px) {
  .menu {
    display: flex;
  }

  .headerNav {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .menu {
    display: none;
  }

  .headerNav {
    display: flex;
  }
}