@media screen and (max-width: 768px) {
  .btnHeader {
    display: block;
  }

  .navigation {
    position: absolute;
    flex-direction: column;
    top: 0;
    height: 100vh;
    width: clamp(200px, 40vw, 500px);
    padding: 1.3em;
    gap: 3em;

    background-color: var(--offBlack);
    margin-left: -100vw;
    animation-duration: 0.7s;
  }

  @keyframes showMenu {
    from {margin-left: -100vw;}
    to {margin-left: -5vw;}
  }
}