/*======================================configs gerais===========================================================*/
@font-face {
  font-family: "Another Tag";
  src: url(../fonts/aAnotherTag.ttf) format("truetype");
}

@font-face {
  font-family: "Gameshow";
  src: url(../fonts/Gameshow.ttf) format("truetype");
}

@font-face {
  font-family: "Made Tommy";
  src: url(../fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf) format("opentype");
}

@font-face {
  font-family: "Secret";
  src: url(../fonts/SECRETODEMOREGULAR.TTF) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  height: 100vh;
}

:root {
  --offBlack: #161a1c;
  --offWhite: #f2f2f2;
  --gray: #424242;
  --blue: #0064cf;
  --purple: #5d4ad8;
  --orange: #ff8554;
  --pink: #f5c3c6;
  --black: #000;
  --white: #fff;

  --fontTitulo: "Secret", cursive;
  --fontText: "Made Tommy", sans-serif;
  --fontDestaque: "Gameshow", sans-serif;
}

.hidden {
  display: none;
}

h1,
h2 {
  font-family: var(--fontTitulo);
}

p {
  font-family: var(--fontText);
}


/*======================================header===========================================================*/
.header {
  background-color: var(--black);
  color: var(--white);
  justify-content: space-between;
  padding: 0 5%;
  height: 3.5em;
}

.navigation,
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation {
  gap: 1.5em;
  z-index: 2;
}

.navigation > a {
  color: var(--white);
  text-decoration: none;
  font-family: var(--fontDestaque);
  font-size: 1.8rem;
  transition: 1s;
  position: relative;
}


.navActive {
  background-color: var(--gray);
  padding: 1px 3px;
  border-radius: 10px 0px;
}

.navActive::before {
  content: "";
  height: 2px;
  width: 70%;
  background-color: #fff;

  position: absolute;
  bottom:0;
}

.logo img {
  filter: invert(1);
  width: 100px;
}

.btnHeader {
  background-color: transparent;
  border: none;
  cursor: pointer;

  display: none;
}

.iconBranco {
  font-size: 1.1rem;
  color: var(--white);
}
